<table style="width: 600px;background:#fff;font-family:Calibri;margin:0 auto;">
  <thead style="width:100%">
    <tr>
      <td style="background-color:white;background:#d5171e;height:75pt">
          <p style="font-size:30pt;color:#fff;text-shadow:1px 1px #000;width:600pt;padding:0 35pt;text-align:center;">
          Здравейте, <%= @user.name %>
          </p>
      </td>
    </tr>
  </thead>
  <tbody style="width:100%">
    <tr>
      <td style="height:100pt;">
        <p style="padding:0 20pt;color:#555;font-size:16pt;text-align:justify;text-indent:10pt">
        Пожелахте да промените паролата си. Ако желаете, това може да стане от връзката по-долу.
        </p>
      </td>
    </tr>
    <tr>
      <td style="height:100pt;">
        <%= link_to edit_password_url(@resource, reset_password_token: @token), style: 'text-decoration: none' do %>
          <span style="background:#d5171e;color: #fff;padding: 5pt 20pt;box-shadow: 2px 1px 7px 1px #666;font-size:14pt">
            Променете паролата си
          </span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="height:100pt;">
        <p style="padding:0 20pt;color:#555;font-size:16pt;text-align:justify;text-indent:10pt">
        Паролата Ви няма да бъде променена докато не достъпите линка по-горе и не зададете нова парола.
        </p>
      </td>
    </tr>
    <tr>
      <td style="height:30pt;">
        <p style="padding:0 20pt;color:#555;font-size:16pt;text-align:justify;text-indent:10pt">
        Ако не сте заявили смяна на парола, моля игнорирайте това писмо.
        </p>
      </td>
    </tr>
    <tr>
      <td style="height:100pt;">
        <p style="padding:0 20pt;color:#333;font-size:16pt;text-align:right;">
        С уважение, екипа на 
          <span style="font-weight:bold"> VM Club</span> 
        </p>
      </td>
    </tr>
  </tbody>
  <tfoot style="width:100%">
    <tr>
      <table style="width:671pt;background:#fff;border-top: 1px solid #aaa;margin:0 auto;">
        <tr>
          <td style="width:450pt;padding:15pt;">
            <p lang="en-US" style="font-family:Calibri;color:#a6a6a6">
            VMClub.bg
            </p>
            <p style="font-family:Calibri;color:#a6a6a6">
              <a href="mailto:contact@vmclub.bg" target="_blank" style="text-decoration:underline;line-height: 20pt;color:#a6a6a6">
                contact@vmclub.bg
              </a>
            </p>
            <p lang="en-US" style="font-family:Calibri;color:#a6a6a6">
            +359 878 612 878
            </p>
          </td>
          <td style="width:150pt" align="center">
              <img src="http://vmclub.bg/assets/logo-209aa2a2e8c05f132b1b00b183e6b12e.png" alt="Creating Email Magic" width="150" style="display:block">
          </td>
        </tr>
      </table>
    </tr>
  </tfoot>
</table>